# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
parts/
wheels/
eggs/
.bdist.egg/
.ddev-egg/
lib/
lib64/
include/
src/

# PyInstaller
#  Usually these files are written into a dist folder.
#  On some operating systems, notably macOS, the dist folder may not
#  be directly under the project directory.
# *.manifest
# *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pypoetry.log
*.sh.session.log
*.txt
!requirements.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.sqlite3
*.sqlite3-journal
local_settings.py
db.sqlite3

# mkdocs
/site

# Sphinx documentation
/docs/_build/

# Media files
/media

# Passwords
*.key
*.pem

# SCM metadata
.git
.gitignore
.svn/
.hg/
.bzr/
_darcs/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.suo
*.pdb
*.user
*.cache
npm-debug.log
yarn-error.log
node_modules/
/static
